.loader {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 200;
    background-color: $color-primary;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
}

$size: 80px;
$preloader-animation: 3s ease-in-out infinite;

@mixin preloader-triangle($name, $color, $angle) {
    #{$name} {
        transform: translate(0, -50%) rotate($angle);

        .triangle {
            border-color: $color $color transparent transparent;
        }
    }
}

@keyframes preloader-rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes twrap-move {
    0% {
        padding-left: $size*0.142;
    }

    50% {
        padding-left: $size*0.426;
    }

    100% {
        padding-left: $size*0.142;
    }
}

.preloader {

    width: $size;
    height: $size;
}

.group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    animation: preloader-rotate #{$preloader-animation};
}

.twrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0 50%;
    padding-left: $size*0.142;
    animation: twrap-move #{$preloader-animation};
}

.triangle {
    border-style: solid;
    border-width: $size*0.246 $size*0.142;
    will-change: transform;
}

@include preloader-triangle('.twrap-1', #6f8aa8, 0deg);
@include preloader-triangle('.twrap-2', #6f8aa8, 60deg);
@include preloader-triangle('.twrap-3', #6f8aa8, 120deg);
@include preloader-triangle('.twrap-4', #6f8aa8, 180deg);
@include preloader-triangle('.twrap-5', #6f8aa8, 240deg);
@include preloader-triangle('.twrap-6', #6f8aa8, 300deg);